h1{
    text-align:center;
    /* text-align: start; */
    /* text-align: end; */

    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    text-transform: capitalize;

    /* letter-spacing: 20px; */
    /* letter-spacing: -10px; */
    word-spacing: 20px;

    /* text-decoration: underline; */
    /* text-decoration: overline; */
    text-decoration: line-through;


    /* font-size: medium; */
    /* font-size: x-large; */
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;



    /* border: 5px solid orange; */
    /* border: 5px dashed orange; */
    border: 4px dotted orange;
}