*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      background-color: #a2bdb2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;  
    }

    .container{
      background: white;
      padding: 30px;
      width: 600px;
      border-radius: 12px;
    }


    .row{
      display: flex;
      gap: 20px;
      margin-bottom: 15px;
    }

    .field{
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 10px;

    }

    label{
      margin-bottom: 5px;
    }

    input, textarea{
      padding: 10px;
      border-radius: 8px;
      border: 1px solid green;
      outline: none;
    }

    .radio-group{
      display: flex;
      gap: 20px;
      margin-top: 5px;
    }

    .radio-box{
      flex: 1;
      border: 1px solid #cbd5d1;
      border-radius: 8px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .checkbox{
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }

    button{
      width: 100%;
      margin-top: 20px;
      padding: 12px;
      background: green;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
    }

    button:hover{
      background: #16665a;
    }